[submodule "GUID_COMM"]
	path = GUID_COMM
	url = https://github.com/FlorianSan/GuidCommFms
[submodule "GUID_TRAJ"]
	path = GUID_TRAJ
	url = https://github.com/JulieMorvan33/Projet-AVI
[submodule "Sim_Param"]
	path = SimParam
	url = https://github.com/FlorianSan/SimParam
[submodule "GUIDSEQ"]
	path = GUID_SEQ
	url = https://github.com/NicolasABN/GUID_SEQ
