[submodule "GUID_COMM"]
	path = GUID_COMM
	url = https://github.com/FlorianSan/GuidCommFms
[submodule "GUID_SEQ"]
	path = GUID_SEQ
	url = https://github.com/NicolasABN/GUID_SEQ
[submodule "GUID_TRAJ"]
	path = GUID_TRAJ
	url = https://github.com/JulieMorvan33/Projet-AVI
