[submodule "GUID_COMM"]
	path = GUID_COMM
	url = git@github.com:FlorianSan/GuidCommFms.git
[submodule "GUID_TRAJ"]
	path = GUID_TRAJ
	url = git@github.com:JulieMorvan33/Projet-AVI.git
[submodule "Sim_Param"]
	path = SimParam
	url = git@github.com:FlorianSan/SimParam.git
[submodule "GUIDSEQ"]
	path = GUID_SEQ
	url = git@github.com:NicolasABN/GUID_SEQ.git
